* {
    font-family: roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
.header {
    background-color: #1F2937;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 10% 0px;
    box-sizing: border-box;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.intro{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 80px 10%;
}
.intro-text, .intro-image{
    flex: 1;
}
.intro-text h1{
    color: #F9FAF8;
    font-size: 48px;
}
.intro-text p{
    color: #E5E7EB;
    font-size: 18px;
}
.intro-image{
    text-align: end;
}
.intro button{
    margin-top: 10px;
    border: none;
    padding: 5px 25px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 6px;
}

/* info section */
.info-section h2 {
    text-align: center;
    padding: 18px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0px 200px 20px;
}
.box{
    flex: 1;
    text-align: center;
}
